<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 place1"> Bootstrap Col3</div>
        <div class="col-md-3 place2"> Bootstrap Col3</div>
        <div class="col-md-3 place3"> Bootstrap Col3</div>
        <div class="col-md-3 place4"> Bootstrap Col3</div>
    </div>
</div>


<div class="p-grid">
    <div class="p-col-3 place2">PrimeNg COl3</div>
    <div class="p-col-3 place1">PrimeNg COl3</div>
    <div class="p-col-3 place4">PrimeNg COl3</div>
    <div class="p-col-3 place3">PrimeNg COl3</div>
</div>