<div class="container">
    <div class="row">
        <div class="col-md-6  mx-auto mt-5">

            <h4> Emp Registration Details</h4>
            <form class="example-form">
                <div>
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Frist Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="example-full-width  w-100">
                        <mat-label>Role</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div class="w-100">
                    <p-dropdown [options]="cities" optionLabel="cityName" [style]="{'width': '100%'}"></p-dropdown>
                </div>

                <div class="mt-4 mb-4">
                    <button pButton type="button" label="Submit" class="p-button-warning"> </button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="w-100">

                <p-calendar formControlName="date" [style]="{'width': '100%'}" value="Choose Date"></p-calendar>


            </div>

            <div class="p-field p-col-12 pt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText  [ngClass]="{itemWidth:'true'}" > 
                    <label for="inputtext">InputText</label>
                </span>
            </div>

            <div class="pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText placeholder="Username" [ngClass]="{itemWidth:'true'}">
                </div>
            </div>
        </div>
    </div>
</div>